@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vidaloka&display=swap');
@import "tailwindcss";



a.active hr{
 display: block;
}

*{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
 
  
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px){
  a.active{
    background-color: rgb(65, 65, 65);
    color: white;
    transition: 0.5s ease;
  }
  a.active:hover{
    background-color: white;
    color: rgb(65, 65, 65);
  }
}